body {
  margin:0;
  padding: 20px 0;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0.9em;
  font-weight: 300;
  color: #444;
}

a {
  color: purple;
}

.title-02 {
  font-size: 1.15em;
  margin: 2em 0 1.5em;
}

.ul-links {
  padding: 0;
  line-height: 2em;
  margin: 2em 0 .5em 0;
  list-style-type: none;
}

.p-normal {
  text-align: justify;
  line-height: 17.5px;
  margin-bottom: 2em;
}

#title-01 {
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3em;
}

#title-link {
  font-size: 2.2em;
  text-decoration: none;
  color: #444;
}

#container-01 { 
  width: 85%; 
  max-width: 450px;  
  margin: 1.5em auto; 
}

#container-02 {
  width: 85%; 
  max-width: 450px;  
  margin: 0 auto; 
}

#container-03{
  width: 85%; 
  max-width: 450px;  
  margin: 0 auto; 
}

#container-04{
  font-size: 0.7em;
  margin: 75px auto 20px;
  text-align: center;
  color: #aaa;
  opacity: .75;
}
  
#container-04 a {
  text-decoration: none;
  color: #aaa;
}

#icon {
  vertical-align: middle;
  height: 2.8em;
  width: auto;
  opacity: .8;
}

#icon-link {
  text-decoration: none;
  margin-right: .5em;
}

#img-01 {
  display: block;
  margin: 0 auto;
  width: 22.5em;
  max-width: 80%;
  margin-bottom: 1.5em;
}

#img-02 {
  display: block;
  margin: 2.5em auto 0;
  width: 75%;
  max-width: 18em;
}

#img-03 {
  display: block;
  margin: -1em auto 0 auto;
  padding-right: 1em;
  width: 100%;
  max-width: 27em;
}

#img-04 {
  display: block;
  margin: 45px auto 0 auto;
  width: 100%;
  max-width: 375px;
}

.img-text-01 {
  text-align: center;
  margin-bottom: 3.5em;
  font-size: 10px;
  opacity: .8;
}

#img-text-02 {
  text-align: center;
  margin-top: 2em;
  font-size: 10px;
  opacity: .8;
}

#img-text-03 {
  text-align: center;
  margin: 0;
  font-size: 10px;
  opacity: .8;
}

/*#submit-div {
  color: red;
}*/

#submit-btn {
  color: #fff;
  background-color: #77ccff;
  border-radius: 4px;
  border: none;
  font-size: 1em;
  font-weight: 300;
  padding: .3em 1em;
  margin: 2em auto 4em;
  display: block; 
}

#submit-btn:hover {
  opacity: .8;
  cursor: pointer;
}

.link-github {
  text-decoration: none;
  font-size: .8em;
  cursor: not-allowed;
}

.link-p {
  text-decoration: none;
}

.link-p:hover {
  text-decoration: underline;
}

.link-x {
  opacity: .3;
}

.link-x:hover {
  cursor: not-allowed;
}

.text-field {
}

#mce-EMAIL {
  width: 14em;
}

#mc_embed_signup {
  text-align: center;
/*  width: 255px;
  margin: 0 auto;*/
  line-height: 2em;
}

.list {
  display: block;
  width: 90%;
}

li {
  margin-left: none;
}

button {
  background-color: cornflowerblue;
  color: white;
  box-shadow: none;
  border: none;
  padding: 5px 30px;
  border-radius: 6px;
  font-size: 15px;
  display: block;
  margin: 40px auto 70px;
  cursor: pointer;
}

a, button:visited {
    text-decoration: none;
}

h3 {
  margin-top: 50px;
  font-weight: 700;
  font-size: 19px;
}

ul {
  padding-left: 5%;
  display: block;
  margin: 30px auto;
  white-space: nowrap;
}

.bold-title {
  font-weight: 700;
}

.thin-title {
  font-weight: 50;
  font-size: 27.5px;
}